@import url("/res/css/theme.css");

/* 
    The following CSS is for the layout of the app.
    The layout is a flexbox with a sidebar and a main content area.
    The sidebar is 2/15 of the width of the screen and the main content area is 13/15 of the width of the screen.
    The sidebar has a minimum width of 300px and the main content area has a minimum width of 600px.
    The main content area is a flexbox with a padding of .75rem.
    The app has a background of var(--contentBackground) and a color of var(--onContentBackground).
    The app has a border-radius of 2rem and padding of 1rem.
*/

body,
html {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    height: 100dvh;
    background: var(--background);
    color: var(--onBackground)
}


@media (max-width: 775px) {
    body {
        flex-direction: column-reverse;
    }
}

/* Sidebar */
/* The sidebar is a flexbox with a width of 2/15 of the screen width and a minimum width of 300px. */

aside {
    flex: 2;
    /*min-width: 225px;*/
    max-width: 100px;
    height: 100%;
}
aside * {
    transition: 250ms ease;
}
/* DEV   

aside * {
    border: seagreen 1px solid;
}
*/


/* The sidebar has a title with an image and a heading. */

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .5rem;
    margin-top: .25em;
}

.title img {
    width: 45px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.title h1 {
    display: none;
}


/* The sidebar has a FAB for adding files. */

.fab-des {
    /* //EXPERIMENTAL */
    display: none;
}

.fab:hover .fab-des {
    /* //EXPERIMENTAL */
    font-weight: bold;
}


.navbar-option.fab {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    aspect-ratio: 1/1;
    max-height: 75px;
    max-width: 75px;
    border-radius: 1rem;
    user-select: none;
    background-color: var(--primary);
    transition: .4s cubic-bezier(0.215, 0.610, 0.355, 1);
    margin-bottom: 3.5rem;
    z-index: 99;
    box-shadow: 0 0 5px 0 var(--promptShadow);

    box-sizing: content-box;
}


.navbar-option.fab .material-symbols-rounded {
    margin: 0;
    margin-right: 0;
    border-radius: 0 !important;
    /* //EXPERIMENTAL sonst 15px */
    transition: 250ms ease-in-out;
    font-size: 35px !important;
}

.navbar-option.fab:active {
    color: var(--onPrimary);
    background-color: var(--primaryActive);
}

.navbar-option.fab:hover {
    color: var(--onPrimary);
    background-color: var(--primaryHover);
}

/* The sidebar has a list of options. */

div.options {
    display: flex;
    padding: 0;
    width: 100%;
    flex-direction: column;
    padding-top: 3.5rem;
    align-items: center;
}

ul.navbar-options {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    padding: 0;
    margin: 0;
    justify-content: space-between;
    width: fit-content;
    list-style-type: none;
}

.navbar-option .material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 40
}

.navbar-option:hover .material-symbols-rounded {
    font-variation-settings:
        'FILL' 0,
        'wght' 600,
        'GRAD' 0,
        'opsz' 40
}


/* The style of the options */ 
.navbar-options .navbar-option {
    padding: .5rem;
    border-radius: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: small;
    gap: 7px;
    text-align: center;
}

#contextmenu .navbar-options .navbar-option .material-symbols-rounded {
    padding: 2px 0;
    border-radius: 0;
}

.navbar-options .navbar-option .material-symbols-rounded {
    margin: 0;
    padding: 2px 15px;
    border-radius: .55em;
    font-size: 28px !important;
    transition: 250ms ease-in-out;
    box-sizing: content-box;
}

.navbar-option.fab .material-symbols-rounded,
.navbar-option.fab:hover .material-symbols-rounded,
.navbar-option.fab:active .material-symbols-rounded {
    margin: 0;
    background-color: transparent;
}

.navbar-option:hover .material-symbols-rounded {
    color: var(--onPrimary);
    background-color: var(--primaryHover);
}

.navbar-option:active .material-symbols-rounded {
    color: var(--onPrimary);
    background-color: var(--primaryActive);
}

.navbar-option:hover {
    background-color: transparent;
}

/* styles for extended sidebar */
@media screen and (max-width: 775px) {
    .title h1 {
        font-size: 1.25rem;
        font-weight: 400;
        display: block;
    }
}

@media screen and (min-width: 775px) {

    aside.extended {
        flex: 2;
        min-width: 225px;
        height: 100%;
    }

    aside.extended .title h1 {
        font-size: 1.25rem;
        font-weight: 400;
        display: block;
    }

    aside.extended .navbar-option.fab {
        aspect-ratio: 2/1;
        max-width: 150px;
        max-height: 75px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }

    aside.extended .navbar-option.fab .material-symbols-rounded {
        margin-right: 15px;
    }

    aside.extended .fab-des {
        display: flex;
    }

    /* The sidebar has a list of options. */
    aside.extended div.options {
        display: flex;
        padding: 0 1.25em;
        width: 100%;
        flex-direction: column;
        padding-top: 3.5rem;
        align-items: normal;
    }


    aside.extended ul.navbar-options {
        list-style-type: none;
        padding: 0;
        margin: 0;
        display: flex;
        flex-direction: column;
        gap: .3em;
        width: 100%;
    }


    aside.extended .navbar-option {
        font-size: larger;
        padding: 10px;
        border-radius: 20px;
        color: var(--onPrimary);
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: left;
        transition: 200ms;
    }

    aside.extended .navbar-option .material-symbols-rounded {
        font-size: 30px !important;
        margin-right: 1rem;
        padding: 0;
    }

    aside.extended .navbar-option:hover {
        background-color: var(--primaryHover);
    }
}


/* ===================== SIDEBAR END ==================== */

/* The main element of the Page with the #app element within it */
main {
    flex: 13;
    min-width: 400px;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-right: 0.75rem;
    overflow: hidden;
}

#app {
    width: 100%;
    height: 100%;
    background: var(--contentBackground);
    color: var(--onContentBackground);
    border-radius: 2rem;
    padding: 1rem;
    margin: .75rem;
    margin-top: 0;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
}
    
@media (max-width: 775px) {
    aside {
        flex: 1;
        min-width: 100%;
    }

    main {
        flex: auto;
        min-width: 100%;
        padding: 8px;
        padding-bottom: 0;
        margin-top: 50px;
    }

    #app {
        border-radius: 1rem;
        margin-bottom: 0;
    }
}


/* Desktop Layout */
@media (min-width: 775px) {
    .material-symbols-rounded {
        max-width: 30px;
        overflow: hidden;
        aspect-ratio: 1/1;
    }

    .navbar-option.fab .material-symbols-rounded {
        max-width: 35px;
    }
}


@media (max-width: 775px) {
    aside {
        flex: 1;
        min-width: 100%;
    }

    main {
        flex: auto;
        min-width: 100%;
        padding: 8px;
        padding-bottom: 0;
        margin-top: 50px;
    }

    #app {
        border-radius: 1rem;
        margin-bottom: 0;
    }

    .title {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        right: 0;
    }

    div.options {
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 100%;
        user-select: none;
        flex-direction: row;
    }

    ul.navbar-options {
        flex-direction: row;
        gap: 1.5rem;
        padding: 0;
        justify-content: space-between;
        width: fit-content;
    }

    .navbar-option {
        padding: .5rem;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: small;
        gap: 7px;
        text-align: center;
    }

    .navbar-option .material-symbols-rounded {
        margin: 0;
        padding: 2px 15px;
        border-radius: .5em;
        transition: 250ms ease-in-out;
    }

    .navbar-option.fab .material-symbols-rounded,
    .navbar-option.fab:hover .material-symbols-rounded,
    .navbar-option.fab:active .material-symbols-rounded {
        margin: 0;
        padding: 2px 15px;
        background-color: transparent;
    }

    .navbar-option:hover .material-symbols-rounded {
        color: var(--onPrimary);
        background-color: var(--primaryHover);
    }

    .navbar-option:active .material-symbols-rounded {
        color: var(--onPrimary);
        background-color: var(--primaryActive);
    }

    .navbar-option:hover {
        background-color: transparent;
    }

    .title img {
        max-width: 40px;
    }

    li.navbar-option.fab {
        position: absolute;
        right: 20px;
        bottom: 30px;
        max-width: 70px;
        max-width: 70px;
        padding: 0.45rem;
        aspect-ratio: 1/1 !important;
    }

    .fab-des {
        display: none;
    }
}



/* Prompts */
#prompt {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: var(--promptShadow);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
    display: none;
}

#snackbar {
    position: absolute;
    bottom: 30px;
    width: 400px;
    max-width: 80%;
    background: var(--primary);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 98;
    box-sizing: border-box;
    box-shadow: 0 0 10px 0 var(--promptShadow);

    border-radius: .5rem;
    padding: .7rem 2rem;
    display: none;
    transition: opacity .5s cubic-bezier(0.215, 0.610, 0.355, 1);
    transform: translateY(50px);
}

@keyframes snackbar-animation {
    0% {
        opacity: 0;
        transform: translateY(15px);
    }

    5% {
        opacity: 1;
        transform: translateY(0);
    }

    95% {
        opacity: 1;
        transform: translateY(0);
    }

    99% {
        opacity: 0;
    }

    100% {
        opacity: 0;
        transform: translateY(15px);
    }

}

main>h2 {
    text-align: left;
    width: 100%;
    padding: 1rem;
    font-size: 1.5rem;
}

#snackbar.show {
    display: flex;
    animation: snackbar-animation 2s;
    animation-fill-mode: forwards;
    opacity: 0;
}


@media screen and (max-width: 775px) {
    #snackbar {
        bottom: 80px;
    }

    main>h2 {
        padding: .5rem;
        padding-top: 0;
    }
}

.navbar-options {
    user-select: none;
}


/* =============== END GENERAL LAYOUT =============== */

/* Files and folders */
.item-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 1rem;
    padding: .75rem 0;
    align-items: center;
}

.file-card {
    background-color: var(--primary);
    color: var(--onPrimary);
    border-radius: 15px;
    padding: 10px;
    text-align: center;
    min-width: 250px;
    max-width: 300px;
    flex: 1;
    display: flex;
    flex-direction: column;
    height: max-content;
    gap: 10px;
    transition: 250ms ease;
    user-select: none;
}

.file-card.folder {
    aspect-ratio: 3/1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.file-card:hover {
    background-color: var(--primaryHover);
}

.file-card:hover .preview-image {
    background-color: var(--secondaryHover);
}

.file-card:active {
    background-color: var(--primaryActive);
}

.file-card:active .preview-image {
    background-color: var(--secondaryActive);
}

.preview-image {
    aspect-ratio: 3/2;
    border-radius: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--secondary);
    transition: 250ms ease;

}

.preview-image img {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
    aspect-ratio: 3/2;
}


.file-name {
    text-align: center;
    overflow: hidden;
    text-wrap: nowrap;
}
/*
@media screen and (max-width: 800px) and (min-width: 600px) {

    /* Files and folders *//*
    .item-list {
        display: flex;
    }

    .file-card {
        max-width: 45%;
    }
}*/

@media screen and (max-width: 775px) {
    .file-card {
        max-width: 100%;
    }

    .preview-image,
    .preview-image img {
        aspect-ratio: 7/4;
    }
}

.file-view {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.file-info {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    flex: 1;
    background-color: var(--background);
    color: var(--onBackground);
    border-radius: 1.25rem;
    box-sizing: border-box;
    padding: 1rem;
}

.file-info a,
.btn-submit {
    color: var(--onBackground);
    text-decoration: none;
    background-color: var(--primary);
    padding: 1rem .7rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    gap: .5rem;
    width: fit-content;
    transition: 250ms ease;
    border: none;
}

input#folderInput {
    background-color: transparent;
    color: var(--onBackground);
    border: 1px solid var(--primary);
    border-radius: 1rem;
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    outline: none;
    font-size: large;
}

.prompt-body .form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.form .description {
    font-size: medium;
    font-weight: 500;
}

.btn-submit {
    font-size: medium;
    font-weight: 500;
    padding: .75rem .5rem;
    padding-right: .75rem;
}

.file-info a:hover,
.btn-submit:hover {
    background-color: var(--primaryHover);
}

.file-info a:active,
.btn-submit:hover {
    background-color: var(--primaryActive);
}

.file-preview {
    flex: 4;
}

@media screen and (max-width: 775px) {
    .file-view {
        flex-direction: column;
    }

    .file-info {
        flex: 1;
    }

    .file-preview {
        flex: 2;
    }

    button.goBack.material-symbols-rounded {
        max-height: 35px;
        max-width: 35px;
        padding: 5px;
        border-radius: calc(35px / 2);
    }
}

.file-preview img,
.file-preview video,
.file-preview audio {
    width: 100%;
    object-fit: contain;
    border-radius: 1.25rem;
    height: 100%;
}

button.goBack.material-symbols-rounded {
    background-color: var(--primary);
    color: var(--onPrimary);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: .5rem;
    transition: 250ms ease;
    border: none;
    font-size: 30px;
    padding: 1.25rem;
    border-radius: 50%;
    width: fit-content;
}

button.goBack.material-symbols-rounded:hover {
    background-color: var(--primaryHover);
}

button.goBack.material-symbols-rounded:active {
    background-color: var(--primaryActive);
}

.prompt-window {
    background-color: var(--background);
    color: var(--onBackground);
    border-radius: 1.25rem;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
}

.prompt-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}




/* Special view for the #app element if no files or folders are found*/

.centered {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    height: 100%;
    width: 100%;
    padding: 3rem;
}

.centered img {
    width: 100px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.centered h3 {
    line-height: 135%;
    font-size: 1.25rem;
}

.centered h3,
.centered h2 {
    text-align: center;
}

/* Context Menue */
#contextmenu {
    display: none;
    position: absolute;
    background-color: var(--background);
    color: var(--onBackground);
    border-radius: 1rem;
    padding: .5rem;
    box-shadow: 0 0 5px 0 var(--promptShadow);
    z-index: 2;
}

#contextmenu ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#contextmenu.extended .fab-des {
    display: flex;
}

/* The sidebar has a list of options. */
#contextmenu.extended div.options {
    display: flex;
    padding: 0 1.25em;
    width: 100%;
    flex-direction: column;
    padding-top: 3.5rem;
    align-items: normal;
}


#contextmenu.extended ul.navbar-options {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: .3em;
    width: 100%;
}


#contextmenu.extended .navbar-option {
    font-size: large;
    padding: 8px 10px;
    border-radius: 20px;
    color: var(--onPrimary);
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: left;
    transition: 200ms;
}



#contextmenu .material-symbols-rounded.btn {
    font-size: 25px !important;
    margin-right: .3rem;
} 

#contextmenu.extended .navbar-option:hover {
    background-color: var(--primaryHover);
}

#contextmenu.extended .navbar-option.flag-danger:hover {
    color: var(--onErrorHover);
    background-color: var(--errorHover);
}

.navbar-option.flag-danger:hover .material-symbols-rounded {
    color: var(--onErrorHover);
}

#contextmenu.extended .navbar-option:hover .material-symbols-rounded {
    background-color: transparent;
}

#contextmenu .navbar-options .navbar-option .material-symbols-rounded {
    padding: 2px 0;
    border-radius: 0;
}

#contextmenu .navbar-option {
    gap: 10px;
}