@import url("/res/css/theme.css");


body, html {
    margin: 0;
    padding: 0;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-items: center;
    flex-direction: row;
    height: 100dvh;
    background: var(--background);
    color: var(--onBackground)
} 

aside {
    flex: 2;
    min-width: 225px;
    height: 100%;
}

.title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: .5rem;
}

.title img {
    max-width: 50px;
    aspect-ratio: 1/1;
    object-fit: cover;
}

.title h1 {
    font-size: 1.25rem;
    font-weight: 400;
}

div.options {
    display: flex;
    padding: 0 1.25em;
    width: 100%;
    flex-direction: column;
    padding-top: 2rem;
}

/* FAB */

.navbar-option.fab {
    padding: .5rem;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    aspect-ratio: 2/1;
    max-width: 140px;
    border-radius: 1rem;
    user-select: none;
    background-color: var(--primary);
    transition: .4s cubic-bezier(0.215, 0.610, 0.355, 1);
    margin-bottom: 3.5rem;

}

.navbar-option.fab .material-symbols-rounded {
    margin: 0;
    padding: 2px;
    margin-right: 15px;
    border-radius: .5em;
    transition: 250ms ease-in-out;
    font-size: 35px !important;
}

.navbar-option.fab:active {
    color: var(--onPrimary);
    background-color: var(--primaryActive); 
}

.navbar-option.fab:hover {
    color: var(--onPrimary);
    background-color: var(--primaryHover);
}

/* FAB end */

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    gap: .25em;
    width: 100%;
}

.navbar-option {
    font-size: larger;
    padding: 10px;
    border-radius: 20px;
    color: var(--onPrimary);
    display: flex;
    flex-direction: row;
    align-items: center;
    transition: 200ms;
}

.navbar-option .material-symbols-rounded {
    font-size: 30px !important;
    margin-right: 1rem;

}

.navbar-option:hover {
    background-color: var(--primaryHover);
}

.navbar-option .material-symbols-rounded {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 40
}



/*
    The following CSS is for the layout of the app.
    The layout is a flexbox with a sidebar and a main content area.
    The sidebar is 2/15 of the width of the screen and the main content area is 13/15 of the width of the screen.
    The sidebar has a minimum width of 300px and the main content area has a minimum width of 600px.
    The main content area is a flexbox with a padding of .75rem.
    The app has a background of var(--contentBackground) and a color of var(--onContentBackground).
    The app has a border-radius of 2rem and padding of 1rem.
*/

/* DEVELOPMENT */
/*
* {
    border: red 1px solid;
}
/* */

main {
    flex: 13;
    min-width: 400px;
    height: 100%;
    display: flex;
    padding: .75rem;
}

#app {
    width: 100%;
    height: 100%;
    background: var(--contentBackground);
    color: var(--onContentBackground);
    border-radius: 2rem;
    padding: 1rem;
}



/* Desktop Layout */
@media (min-width: 800px) {
    .material-symbols-rounded {
        max-width: 30px;
        overflow: hidden;
        aspect-ratio: 1/1;
    }

    .navbar-option.fab .material-symbols-rounded {
        max-width: 35px;
    }
}


@media (max-width: 800px) {
    body {
        flex-direction: column-reverse;
    }

    aside {
        flex: 1;
        min-width: 100%;
    }

    main {
        flex: auto;
        min-width: 100%;
        padding: 8px;
        padding-bottom: 0;
        margin-top: 50px;
    }

    #app {
        border-radius: 1rem;
    }

    .title {
        position: absolute;
        top: 0;
        width: 100%;
        left: 0;
        right: 0;
    }
/*
    .options * {
        border: red dotted 1px;
    }
*/
    div.options {
        align-items: center;
        justify-content: center;
        padding: 0;
        height: 100%;
        user-select: none;
        flex-direction: row;
    }

    .navbar-options {
        flex-direction: row;
        gap: 1.5rem;
        padding: 0;
        justify-content: space-between;
        width: fit-content;
    }

    .navbar-option {
        padding: .5rem;
        border-radius: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-size: small;
        gap: 7px;
        text-align: center;
    }

    .navbar-option .material-symbols-rounded {
        margin: 0;
        padding: 2px 15px;
        border-radius: .5em;
        transition: 250ms ease-in-out;
    }

    .navbar-option.fab .material-symbols-rounded, .navbar-option.fab:hover .material-symbols-rounded,.navbar-option.fab:active .material-symbols-rounded {
        margin: 0;
        padding: 2px 15px;
        background-color: transparent;
    }

    .navbar-option:hover .material-symbols-rounded {
        color: var(--onPrimary);
        background-color: var(--primaryHover);
    }

    .navbar-option:active .material-symbols-rounded {
        color: var(--onPrimary);
        background-color: var(--primaryActive); 
    }

    .navbar-option:hover {
        background-color: transparent;
    }

    .title img {
        max-width: 40px;
    }

    li.navbar-option.fab {
        position: absolute;
        right: 20px;
        bottom: 30px;
        max-width: 70px;
        max-width: 70px;
        padding: 0.45rem;
        aspect-ratio: 1/1 !important;
    }
    .fab-des {
        display: none;
    }
}