<!DOCTYPE html>
<html>

<head>
    <meta charset='utf-8'>

    <title>Deltos Cloud</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel="shortcut icon" href="/res/images/icon.svg" type="image/svg">
    <link rel="stylesheet" type="text/css" media="screen" href="/res/css/index.css">
    <link rel="stylesheet" type="text/css" media="screen" href="/res/css/icons.css">
    <link rel="manifest" href="/manifest.json">
    <!-- Add HTMX localhosted -->
    <script src="https://unpkg.com/htmx.org@2.0.1"></script>
</head>

<body>
    <aside>
        <div class="title">
            <img src="/res/images/icon.svg" alt="">
            <h1>Deltos Cloud</h1>
        </div>
        <div class="options">
            <li class="navbar-option fab" onclick="javascript:Prompts.uploadDialog()">
                <span class="material-symbols-rounded btn">upload</span>
                <span class="fab-des">Upload</span>
            </li>
            <ul class="navbar-options">
                <li class="navbar-option" hx-push-url="/" hx-trigger="click" hx-swap="innerHTML"
                    hx-on:afterSwap="updateTitle()" hx-target="#app" hx-get="/api/htmx/files/list.html">
                    <span class="material-symbols-rounded btn">cloud</span>
                    <span>@side_menu_files:TRANSLATE</span>
                </li>
                <!--
                <li class="navbar-option fab">
                    <span class="material-symbols-rounded">upload_file</span>
                    <span>Upload</span>
                </li>
                -->
                <li class="navbar-option" id="add-folder-btn">
                    <span class="material-symbols-rounded btn">create_new_folder</span>
                    <span>@side_menu_add_folder:TRANSLATE</span>
                </li>
                <li class="navbar-option">
                    <span class="material-symbols-rounded btn">extension</span>
                    <span>@side_menu_addons:TRANSLATE</span>
                </li>
                <li class="navbar-option">
                    <span class="material-symbols-rounded btn">settings</span>
                    <span>@side_menu_settings:TRANSLATE</span>
                </li>
            </ul>
        </div>
    </aside>
    <main ondrop="dropHandler(event, '/');" ondragover="dragOverHandler(event);">
        <h2 id="app-title">My Files</h2><!--
        <section id="app"  hx-trigger="load" hx-swap="innerHTML" hx-target="#app" hx-get="/api/htmx/files/list.html">
        -->
        <section id="app">
        </section>
        <div id="snackbar">
            <span>File uploaded successfully</span>
        </div>
    </main>
    <section id="prompt" data-prompt="">
        <div class="prompt-window">
            <div class="prompt-header">
                <button class="prompt-close goBack material-symbols-rounded" onclick="javascript:Prompts.close()">close</button>
                <h2 class="prompt-title">@folder_create_title:TRANSLATE</h2>
            </div>
            <div class="prompt-body">
                <form id="add-folder-form" onsubmit="Prompts.send(event)" name="add-folder-form" class="form">
                    <p class="description">@folder_create_description:TRANSLATE</p>
                    
                    <input type="text" name="folder" id="folderInput" placeholder="@folder_create_name:TRANSLATE" required>
                    <button class="btn-submit" type="submit">
                        <span class="material-symbols-rounded">add</span>
                        @folder_create_button:TRANSLATE
                    </button>
                </form>
            </div>
        </div>
    </section>

    <script>
        
        if ('serviceWorker' in navigator) {
            window.addEventListener('load', () => {
                navigator.serviceWorker.register('/res/js/cache-worker.js')
                    .then((registration) => {
                        console.log('ServiceWorker registration successful with scope: ', registration.scope);
                    }, (err) => {
                        console.log('ServiceWorker registration failed: ', err);
                    });
            });
        }
    </script>
    <script src="/res/js/index.js"></script>

</body>

</html>